{% extends 'base.html' %} {% block content %}

<div class="columns is-centered mt-5" style="padding-top: 80px">
  <div class="column is-two-fifths">
    <article class="message is-warning">
      <div class="message-header">
        <p>注意</p>
      </div>
      <div class="message-body">
        投稿者: "{{ object.author }}"
        <br />
        投稿: "{{ object.title }}"
        <br />
        を削除しますか
      </div>
    </article>

    <form method="POST">
      {% csrf_token %}
      <input class="button is-danger" type="submit" value="削除" />
    </form>
  </div>
</div>

{% endblock content %}
