{% load static %} {% block content %}

<h1>All Posts</h1>
<div class="columns is-centered">
  <div class="column is-half">
    {% for item in object_list %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <img
            src="{{ item.image.url }}"
            alt="{{ item.title }}"
            width="270"
            height="420"
          />
        </div>
        <div class="media-content">
          <div class="content">
            <a href="">
              <strong class="has-text-black is-size-4">{{ item.title }}</strong>
            </a>
            <p class="is-size-5 mt-2">
              <span class="has-text-grey">by</span>
              <strong class="has-text-black">{{ item.author }}</strong>
            </p>
            <p class="is-size-6 mt-2">
              {{ item.created_at|date:"Y年m月d日 H:i" }}
            </p>
          </div>
        </div>
      </article>
    </div>
    {% empty %}
    <p class="has-text-centered is-size-5">投稿がありません。</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}
