{% extends 'base.html' %} {% load static %}{% block content %}
<section class="section" id="our-classes">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-heading">
          <h2>Personalized <em>Sports Plan</em></h2>
          <img src="{% static 'images/line-dec.png' %}" alt="" />
          <p>
            Achieve your goals with a customized plan for<a style="color: #ed563b"> {{ sport }}</a>
          </p>
        </div>
      </div>
    </div>
    <div class="row" id="tabs">
      <div class="col-lg-4">
        <ul>
          <li>
            <a href="#tabs-1"
              ><img src="{% static 'images/tabs-first-icon.png' %}" alt="" />Beginner</a
            >
          </li>
          <li>
            <a href="#tabs-2"
              ><img src="{% static 'images/tabs-first-icon.png' %}" alt="" />Intermediate</a
            >
          </li>
          <li>
            <a href="#tabs-3"
              ><img src="{% static 'images/tabs-first-icon.png' %}" alt="" />Advanced</a
            >
          </li>
        </ul>
      </div>
      <div class="col-lg-8">
        <section class="tabs-content">
          <article id="tabs-1">
            <div class="video-container">
              <iframe
                src="{{ beginner_url }}"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <h4>{{ beginner_title }}</h4>
            <p>{{ beginner_benefits }}</p>
          </article>
          <article id="tabs-2">
            <div class="video-container">
              <iframe
                src="{{ intermediate_url }}"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <h4>{{ intermediate_title }}</h4>
            <p>{{ intermediate_benefits }}</p>
          </article>
          <article id="tabs-3">
            <div class="video-container">
              <iframe
                src="{{ advanced_url }}"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <h4>{{ advanced_title }}</h4>
            <p>{{ advanced_benefits }}</p>
          </article>
        </section>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
