{% extends 'base.html' %} {% block content %}

<div class="columns is-centered" style="padding-top: 80px">
  <div class="column is-half">
    <h3 class="is-size-3">{{ user.username }}さんの投稿一覧</h3>
    <br />
    {% for post in posts %}
    <div class="box">
      <article class="media">
        <div class="media-left">
          <img src="{{ post.image.url }}" width="270" height="420" />
        </div>
        <div class="content">
          <p class="is-size-5">
            <a href="{% url 'community:detail' post.pk %}">
              <strong>{{ post.title }}</strong>
            </a>
          </p>
          <div class="block">{{ post.content|truncatechars:75 }}</div>
        </div>
      </article>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
