{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Insert this section where you want the Upcoming Events to appear -->
<section class="section" id="upcoming-events">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Upcoming <em>Events</em></h2>
          <img src="{% static 'images/line-dec.png' %}" alt="waves" />
          <p>Explore the most anticipated sports events in Taiwan!</p>
        </div>
      </div>
    </div>
    <div class="row">
      <!-- Running Event -->
      <div class="col-lg-6 col-md-12">
        <div class="event-card">
          <h3><b>Running: Taipei Marathon</b></h3>
          <p>
            <b>Time</b> December<br />
            <b>Location</b> Taipei City<br />
            Experience Taiwan's largest and most iconic running event.
          </p>
          <a href="https://www.taipeicitymarathon.com" class="event-button">Learn More</a>
        </div>
      </div>
      <!-- Swimming Event -->
      <div class="col-lg-6 col-md-12">
        <div class="event-card">
          <h3><b>Swimming: Sun Moon Lake Carnival</b></h3>
          <p>
            <b>Time</b> September<br />
            <b>Location</b> Sun Moon Lake<br />
            Join in Taiwan’s premier open-water swimming event.
          </p>
          <a href="https://www.sunmoonlake.gov.tw/en/event/calendar/2024" class="event-button"
            >Learn More</a
          >
        </div>
      </div>
      <!-- Badminton Event -->
      <div class="col-lg-6 col-md-12">
        <div class="event-card">
          <h3><b>Badminton: Chinese Taipei Open</b></h3>
          <p>
            <b>Time</b> July/September<br />
            <b>Location</b> Taipei City<br />
            Watch world-class badminton at this prestigious tournament.
          </p>
          <a href="https://www.ctb.org.tw" class="event-button">Learn More</a>
        </div>
      </div>
      <!-- Yoga Event -->
      <div class="col-lg-6 col-md-12">
        <div class="event-card">
          <h3><b>Yoga: Taipei Yoga Festival</b></h3>
          <p>
            <b>Time</b> June/July<br />
            <b>Location</b> Taipei City<br />
            Participate in various yoga and soul meditation events.
          </p>
          <a href="https://www.soulbarnwellness.com/en/event" class="event-button">Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
