{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap"
      rel="stylesheet"
    />
    <title>HealthSync</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'css/templatemo-training-studio.css' %}" />
  </head>

  <body>
    {% include 'header.html' %} {% block content %}{% endblock content %}

    <footer>
      &copy; 2024 HealthSync. Made by
      <a href="https://www.instagram.com/as_nhoonn">Nelda</a> and
      <a href="https://www.instagram.com/xiong.mao22">Rean</a>
    </footer>
    <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script>
    <script src="{% static 'js/mixitup.js' %}"></script>
    <script src="{% static 'js/accordions.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script>
      window.addEventListener("scroll", function () {
        const header = document.querySelector("header");
        header.classList.toggle("scrolled", window.scrollY > 50);
      });
    </script>
  </body>
</html>
